/* estilo.css - exemplo de fundo para a tela de login */
.stApp {
  background-image: url('background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
