annotated-types
asgiref
boto3
botocore
cachetools
certifi
charset-normalizer
colorama
dj-database-url
Django
django-storages
djangorestframework
et_xmlfile
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
gunicorn
httplib2
idna
jmespath
Markdown
numpy
openpyxl
pandas
pillow
proto-plus
protobuf
psycopg
psycopg2-binary
pyasn1
pyasn1_modules
pydantic
pydantic_core
pyparsing
python-dateutil
python-dotenv
pytz
reportlab
requests
rsa
s3transfer
six
sqlparse
tqdm
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
whitenoise